@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --pr: #5500c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-ext {
  box-shadow: 0 4px 50px 0 rgba(67, 67, 67, 0.15);
}

.rotate-ch {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgimg {
  background-image: url("/test.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

/* cards */

/* components/Cards.module.css */

.cards {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  scale: 1.5;
}

.card {
  height: 280px;
  width: 180px;
  margin: 0 15px;
  position: relative;
}

.card:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.card-face {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1),
    box-shadow 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card-face:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0;
}

.card-label {
  font-weight: bold;
  letter-spacing: -0.025em;
  /* padding: 15px 0 0 15px; */
  text-align: center;
}

@keyframes fade {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.card-face {
  background-image: url("/test.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card .card-face {
  transform: translateY(0px) rotate(0deg);
}

.card:hover .card-face {
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.4),
    inset 0 0 0 2px hsla(0, 100%, 80%, 0.75);
  transform: translateY(-50px) rotateY(-180deg) scale(1);
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1),
    box-shadow 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 5;
}

.card:hover .card-face:after {
  animation: fade 250ms ease-in-out forwards;
}

.card:hover:after {
  top: -175px;
}

/* .flip-card {
  perspective: 1000px;
} */

/* .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
} */

/* .flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(-180deg);
} */

/* .flip-card-front, */
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  /* background: linear-gradient(to left, #4364f7, #6fb1fc); */
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  /* background: linear-gradient(to right, #4364f7, #6fb1fc); */
  display: none;
  background-image: url("/back.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  transform: rotateY(-180deg);
  z-index: 1;

  justify-content: center;

  align-items: center;
}

/* hover  */

.flip-card:hover .flip-card-front {
  display: none;
}

.flip-card:hover .flip-card-back {
  display: flex;
}
